@charset 'utf-8';

/* Base Structure */

html,
body {
    font-family: 'Open Sans', 'Noto Sans KR', sans-serif;
}

html {
    font-size: 16px;
}

body {
    padding-top: 120px;
    text-align: center;
}

/* Extra markup and styles */

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

.navbar-brand {
    font-size: 20px;
}

.nav-item {
    font-size: 20px;
}

.nav-item .dropdown-menu {
    text-align: center;
    font-size: 16px;
    background-color: #CBBBE8;
}

.container {
    padding-top: 24px;
    padding-bottom: 24px;
}

.bs-docs-section .bs-component {
    padding-left: 15%;
    padding-right: 5%;
    text-align: left;
}

.bs-component legend {
    padding-left: 16px;
    padding-bottom: 8px;
    background-color: #343a40;
}

footer {
    margin: 5rem;
    text-align: center;
    display: block;
    font-size: 16px;
}

#footer p {
    margin-bottom: 16px;
    clear: left;
}