@charset 'utf-8';

/* Base Structure */

html,
body {
    font-family: 'Open Sans', 'Noto Sans KR', sans-serif;
}

html {
    font-size: 16px;
}

body {
    padding-top: 90px;
    text-align: center;
}

/* Extra markup and styles */

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

.navbar {
    text-align: left;
}

.navbar .navbar-brand {
    font-size: 20px;
}

.navbar .nav-item {
    font-size: 20px;
}

.navbar .nav-item .dropdown-menu {
    font-size: 16px;
    background-color: #CBBBE8;
}

.container {
    /* padding-top: 24px; */
    padding-bottom: 36px;
}

.bs-docs-section .bs-component {
    text-align: left;
}

.bs-component legend {
    padding-left: 8px;
    padding-bottom: 8px;
    background-color: #343a40;
}

.form-group input {
    width: 180px;
}

.form-group .form-check input {
    width: 1em;
}

#check-values {
    padding-top: 90px;
}

#check-table {
    font-size: 16px;
    margin: 0 auto;
    vertical-align: middle;
}

#check-table tbody th {
    text-align: center;
    margin: 0 auto;
}

#check-table tbody td {
    text-align: left;
    margin: 0 auto;
}

#dash-area {
    position: relative;
    width: 100%;
    padding-bottom: 140%;
}

#dash-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

footer {
    margin: 5rem;
    text-align: center;
    display: block;
    font-size: 16px;
}

#footer p {
    margin-bottom: 16px;
    clear: left;
}